<template> </template>
<style>
	.contwrap {
		position: absolute;
		top: 100px;
		width: 100%;
	}
	b-container {
		position: absolute;
		margin-top: 100px;
		bottom: 150px;
		z-index: 2;
	}
	b-col {
		padding-top: 100px;
	}
	.l5 {
		background-color: #ebffff;
	}
	.l4 {
		background-color: #bcfffe;
	}
	.l3 {
		background-color: #78fffd;
	}
	.l2 {
		background-color: #35fffc;
	}
	.l1 {
		background-color: #00f1ed;
	}
	.w3 {
		background-color: #00aba9;
	}
	.d1 {
		background-color: #009c99;
	}
	.d2 {
		background-color: #008b88;
	}
	.d3 {
		background-color: #007977;
	}
	.d3:hover {
		color: white;
		background-color: #002e2d;
	}
	.d4 {
		background-color: #006866;
	}
	.d5 {
		color: white;
		background-color: #005755;
	}
	.d5:hover {
		color: white;
		background-color: #002e2d;
	}
	.d3transp {
		color: white;
		background-color: rgba(0, 84, 85, 0.5);
	}
	.d3transp:hover {
		color: white;
		background-color: rgba(0, 46, 45, 0.3);
	}
	.d3transp:active {
		color: white;
		background-color: rgba(0, 46, 45, 0.3);
	}

	.gradient1 {
		color: #fff;
		background-image: linear-gradient(to right, #007977, #005755);
	}
</style>
